*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.authed-user-name {
	margin-left: 10px;
}

.authed-user-name-menu {
	display: none !important;
}

@media only screen and (max-width: 700px) {
	.authed-user-name {
		display: none;
	}
	.authed-user-name-menu {
		display: block !important;
		text-align: center;
	}
}

.option {
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #7772;
	border-radius: 5px;
}

.selected-option {
	position: relative;
	background-color: rgba(25, 118, 210, 0.15);
	border: 1px solid #1976d2;
}

.selected-option::before {
	content: "Your Vote";
	position: absolute;
	width: 50px;
	top: -25px;
	right: -20px;
	padding: 5px;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	color: #eee;
	background-color: #1976d2;
	border-radius: 50%;
}

.rank {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
}

.rank-1 {
	background-color: #ddb73a;
}

.rank-2 {
	background-color: #c0c0c0;
}

.rank-3 {
	background-color: #cd7f32;
}
